body{
    width: 100%;

    margin: 0;
}

#header{

    background-color: red;
    padding: 20px;
    margin: auto 0;
}

nav{
    float: left;
    width: 15%;
    height: 1250px;
    background-color: #e6e6e6;

}
nav ul {
    list-style-type: none;
    padding: 10px;
}

a:link {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: green;
}




